@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
  scroll-behavior: smooth;
}

:root {
  --seagreen: #00C5AA;
  --white: #ffffff;
}

.c1{
    margin-top: 20px ;
    left: 20px;
  }
  body{
    font-family: Montserrat, sans-serif;
    overflow-x: hidden;
  }

.section{
    min-height: 100vh;
  }


  svg{
    flex-direction: row;
    fill:#0a0239;
    width: 23px;
    height: 23px;
}

.vertical-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust as needed */
}


.navbar{
    position: fixed;
    background-color: #fff;
    width: 100%;
    top: 0;
    left: 0;
    z-index:1000;
    }
    
    .navbar .nav-link{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    color: #494949fa;
    /* add a hovering transition of changing color */
    transition: color 0.2s ease-in-out;
    }
    
    .navbar .nav-link:nth-child(n):hover{
    color: var(--seagreen);
    }
    
    .navbar .nav-link.active{
      color: var(--seagreen);
      font-weight:600;
    }
    
    .navbar .navbar-brand img{
    max-height: 70px;
    }
    
    .navbar .navbar-brand i{
        font-weight: 700;
        font-style: normal;
        padding: 0px;
    }
    
    .navbar .navbar-toggler{
    border:none !important;
    outline: none !important;
    box-shadow: none !important; 
    }
    
    .navbar .toggle-btn{
    cursor: pointer;
    position: relative;
    top: 5px;
    z-index: 1100;
    }
    
    .navbar .toggle-btn .bar{
    width: 25%;
    height: 3px;
    margin: 7px 0 7px auto;
    transition: all .2s ease-in-out;
    background-color: #0b0b0b;
  }
  
  .navbar .toggle-btn .bar:nth-child(n){
    width: 35px;
  }
  
    .navbar #toggle-menu{
      display: none;
    }
    
    .profile{
      background-color: whitesmoke;
      border-radius: 100%;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }

    .profile:hover{
      background-color: #e0e0e0;
      cursor: pointer;
    }

    .profPic{
      height: 40px;
      width: 40px;
      border-radius: 100%;
      transition: all .2s ease-in-out;
    }
    

    li.dropdown {
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 165px;
      box-shadow: 0px 8px 16px 0px rgba(147, 147, 147, 0.2);
      z-index: 1;
      border-radius: 5px;
      opacity: 0.9;
      border: 1px solid #bcbcbcb3;
      transform: translate(-30px, 2px);
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {background-color: #f1f1f1;}
    
    .dropdown:hover .dropdown-content {
      display: block;
    }


    /* navbar ends */
    

  /* Footer */
  .fa:not(#chevron) {
    font-size: 16px;
    width: 35px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background-color: #4a161661;
    margin: 10px;
    margin-top: 20px;
  }
  .fa:hover:not(#chevron) {
    background-color: var(--seagreen);
    color: black;
    #Capa_1{
      fill: black;
    }
  }
  .fa-facebook {
    background-color: #4a161661;
    padding-top: 10px;
    color: #fff;
  }

  #up{
    width: 20px;
    height: 20px;
    fill: rgb(0, 0, 0);
    margin-right: 2px;
  }
 
  #Capa_1{
    fill: white;
    padding-top: 8px;
  }

  .triangle-up {
    position: relative;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #fff;
    margin-top: 40px;
    bottom : 10px;
  }
  .triangle-up i {
    color: #fff;
    position: relative;
    top: 12px;
    right: 10px;
  }

  .triangle-up:hover {
    border-bottom: 40px solid #ededede8;
    cursor: pointer;
  }
  
  #chevron{
    color:rgb(0, 0, 0);
  }   

  .footerMain{
    min-height: 60vh;
    width: 100%;
    background-color: var(--seagreen);
    color: rgb(227, 226, 226);
  }

  .footerSec{
    height: 30vh;
  }

  
  .svgBtn{
    border-radius: 100%;
    background-color: var(--seagreen);
    padding: 10px;
    height: 40px;
    width: 40px;
    margin: 0px 10px;
  }
  .svgBtn1{
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 0px 10px;
    outline: none;
    border:none;
    background-color: white;
  }

  .svgBtn:hover{
    background-color: #00a08b;
    cursor: pointer;
    #svg1{
      fill: rgba(224, 224, 224, 0.806);
    }
  }

  .svgBtn:focus{
    outline: none;
    border:none;
  }
  
  #svg1{
    transition: all .2s ease-in-out;
    fill: white;
    margin-bottom: 6px;
    height: 20px;
  }
  
  #svg2{
    transition: all .2s ease-in-out;
    fill: white;
    margin-bottom: 6px;
    margin-left: -2px;
    height: 20px;
  }

.phone{
  width: 70%;
  margin-top: 10%;
}


.green-button{
  background-color: var(--seagreen);
  color: white;
  border: none;
  min-width: 100px;
  border-radius: 100px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.green-button:hover{
  background-color: #00a08b;
  color:rgb(207, 207, 207);
}


.login{
  border-radius: 15px;
  box-shadow: 0px 0px 55px rgba(177, 177, 177, 0.4);
  padding: 30px 60px;
}


.outer{
  margin-top: 70px;
}

.borderb{
  padding: 20px;
  border: 1px solid #78a09b;
  border-radius: 0px 15px 15px 0px;
  transform: translateX(-1px);
  height: 75vh;
}

.bordera{
  border: 1px solid #78a09b;
  border-radius: 15px 0px 0px 15px;
  padding: 20px 10px;
  height: 75vh;
}
.chatslistarea{
  overflow-y: auto;
  height: 60vh;

}

.profilepic{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin: 10px;
}

.videopic{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 10px; 
}

.chatlistitem{
  border-radius: 15px;
}
.chatlistitem:hover{
  background-color: #d8f9f2bd;
  cursor: pointer;
}

.active{
  background-color: rgb(0, 218, 149);
  border-radius: 100%;
  width: 8px;
  height: 8px;
  box-shadow: 0px 0px 10px 5px rgba(0, 255, 157, 0.297);
}

.chatbox{
  height: 51vh;
  overflow-y: auto;
}

.form{
  width: 100%;
  height: 40px;
  padding:5px 10px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #979e9d69;
  /* transition: all 1s ease-in-out; */
}
.form:focus{
  outline: 2px solid #00a08b78;
  box-shadow: 0px 0px 5px rgba(0, 160, 139, 0.297);
}

.textpic{
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 10px;
}

.text-end{
  display: flex;
  justify-content: flex-end;
}

.textmsg{
  background-color: #179278;
  border-radius: 20px;
  padding: 10px;
  margin: 3px 30px;
  color: #fff;
}

.rcvmsg{
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  margin: 3px 30px;
  color: #000;

}


.textbtn{
  background-color: #179278;
  border-radius: 20px 0px 20px 20px;
  padding: 10px;
  margin: -20px 30px;
  color: #fff;
  border:none;
  cursor: pointer;
  outline: none;
  padding-top: 15px;
  margin-bottom: 10px;
}

.rcvbtn{
  background-color: #f2f2f2;
  border-radius: 0px 20px 20px 20px;
  padding: 10px;
  margin: -20px 30px;
  color: #000;
  border:none;
  cursor: pointer;
  outline: none;
  padding-top: 15px;
  margin-bottom: 10px;
}

.date{
  font-size: 10px;
  color: #e1e1e1;
  margin: 0px 5px;
}

.date2{
  font-size: 10px;
  margin: 0px 5px;
  color: #5c5c5c;
}

#emojisvg{
  width: 20px;
  height: 20px;
  fill: #4f4f4f;
  margin-bottom:3px;
}

.emojibox{
  background-color: #f2f2f2;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  overflow-y: none;
  overflow-x: auto;
  position: absolute;
  bottom: 50px;
  left: -200px;
}


.newmsg{
  background-color: #c2e1d8;
  color: #000;
}

.currentuser{
  background-color: #dfdfdf;
  color: #000;
}

.red{
  background-color: red;
}

.red:hover{
  background-color: #b80000;
}

#videoAlert{
  width: 30vw;
  height: 45vh;
  background-color: #f2f2f2;
  border-radius: 15px;
  position: absolute;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  left: 65%;
  top: 15%;
}